<table>
    <tr>
        <th>App Name</th>
        <th>Category</th>
        <th>Rating</th>
        <th>Downloads</th>
    </tr>
{{#each result}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.category}}</td>
        <td>{{this.rating}}</td>
        <td>{{this.installs}}</td>
    </tr>
{{/each}}
</table>
<form action="/prevPage" method="get">
    <input type="hidden" name="appName" value={{appName}}>
    <input type="hidden" name="currentOffset" value={{offset}}>
    <button type="submit">Prev</button>
</form>
<form action="/nextPage" method="get">
    <input type="hidden" name="appName" value={{appName}}>
    <input type="hidden" name="currentOffset" value={{offset}}>
    <button type="submit">Next</button>
</form>

